body{
    background-color: #282828;
    color: #fff;         /* cor da letra */
}

.cabecalho{
    height: 80px;
    background-color: #0b0b0b;
    display: flex;      
    justify-content: space-between;      /* espaço entre horizontal */
    align-items: center;      /* espaço entre vertical */
    padding: 0 80px;         /* 0 em cima de baixo e 80 direita e esquerda */
    border-bottom: 1px solid #282828;  /* uma linha */
}

.cabecalho .logo{   /* .cabecalho antes para ele pegar a logo que estar dentro da classe cabeçalho */
    display: flex;  /* colocou a logo, o nome e a linha um do lado do outro*/
    gap: 15px;  /* espaço entre tudo no cabeçalho */
}

.cabecalho .menu{
    display: flex;      /* ficaram um ao lado do outro */
    gap: 30x;       /* fez um espaçamento entre baixar, comprar e suporte */
}

.cabecalho .menu li a{  /* assim estilisa todos links dentro de uma lista no menu dentro do cabeçalho */
    padding: 30px;      /* espaço e distancia da borda */
    color: #e8e8e8;
    font-weight: bolder;    /* destacamento parecido com negrito */
    font-size: 15px;    /* tamanho da fonte */
    font-family: 'Chalet';  /* fonte importada */
}

.cabecalho .menu li a:hover{    /* quando eu passar o mouse em cima vai acontecer oq esta determinado no codigo abaixo */
    border-bottom: 2px solid #fff;      /* quando eu passar o mouse em cima ira aparecer uma linha branca */
}

.home{      /* logos com nome do jogo */
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);     /* 100 é o tamanho inteiro da tela e - 80 pq o cabeçalho tem 80px */
}

.home::after{       /* como se estivesse mechando no html pelo css? */
    content: '';
    position: absolute;     /*absolute faz ele sobre por tudo a cima dele */
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .7) 35%, transparent 65%);
}

.home .imagem-fundo{
    width: 100%;
    object-fit: cover;  /* faz a imagem nao perde a proporção, nao fica encolhida ou borrada */
}

.home .informacoes{     /* aqui fez as logos ficarem em cima da imagem  */
    position: absolute;     /* absolute pq quero que fique em cima da imagem */
    z-index: 1; /*isso faz a logo sobrepor ate o gradient */
    min-height: calc(100vh - 80px);     
    display: flex;      /* apartir daqui dentralizou as logos dentro da imagem */
    flex-direction: column;     /* para as logos ficarem um em baixo do outro */
    justify-content: center;
    gap: 32px;
    padding: 80px 80px 80px 170px;  /* 80 cima, 80 direita, 80 baixo, 170 esquerda */
    max-width: 780px;
}

.home .informacoes img{     /* aqui esta mexendo no tamanho das logos dentro da imagem principal */
    max-width: 150px;
}
.home .informacoes .lista-de-jogos{
    display: flex;
    gap: 32px;      /* usou o flex apenas para conseguir separa os elementos */
}

.home .informacoes .titulo{     /* aqui vamo escolher a fonte para o titulo, mas a fonte é baixada */
    font-family: 'ChaletComprime';
    font-size: 55px;
}

.home .informacoes .texto{
    font-family: 'Chalet';
    font-size: 18px;
    line-height: 1.6;   /* espaçamento entre as linhas */
}

.btn-comprar, .btn-plataforma{
    background-color: rgba(255, 255, 255, .1); /* esse .1 é a opacidade */
    border: 0.5px solid #fff; /* criou uma borda para botão */
    border-radius: 4px;
    font-family: 'ChaletComprime';
    font-size: 28px;
    text-align: center; /* alinhou o texto para o meio do botão */
    padding: 20px 40px;     /* isso fez o botão ficar grande e grosso */
    text-transform: uppercase;      /* deixa as letras maiusuclo */
    width: 50%; /* largura do botão */
    transition: all .3s ease-in; /* uma trasição para a mudança de cor do botão */
}   

.btn-plataforma{
    color: #fff;
    width: 100%;
    cursor: pointer;
}

.btn-comprar:hover{     /* isso fez o botão ficar branco com a letra cinza */
    background-color: #fff;
    color: #000;
}

.compre-ja .capa-do-jogo{
    width: 270px;
}

.compre-ja{
    display: flex;
    flex-direction: column; /* um a baixo do outro */
    text-align: center;
    padding: 50px;  /* distancia de 50 para todos os lados */
    align-items: center; /* para alinha o cartão no centro, tem que colocar aqui pq esse é pai dessa tag */
}

.compre-ja .titulo{
    font-family: 'ChaletComprime';
    font-size: 50px;
    font-weight: 700;       /* peso fonte? */
    margin-bottom: 50px;    /* aqui fez uma espaço para o botão comprar */
}

.compre-ja .cartao{
    display: flex;      /* um do lado do outro */
    flex-direction: column;     /* um em baixo no outro */
    align-items: center;
    background-color: #000;
    width: 50%;
    border-radius: 10px;
    padding: 80px;
    gap: 40px;  /* para separar o elementos dentro */
}

.compre-ja .informacoes{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.compre-ja .informacoes h3{
    font-family: 'ChaletComprime';
    font-size: 52px;
    font-weight: 700;
}

.compre-ja .informacoes p{
    color: #e8e8e8;
    font-family: 'Chalet';
    font-size: 16px;
    line-height: 1.6;
}

.compre-ja .informacoes .plataformas{
    display: flex;
    flex-wrap: wrap;       /* isso aqui fez tudo que nao couber na tela, quebra pra baixo */
    gap: 32px;
    justify-content: center;    /* quando quebrar a linha vai centralizar e nao juntar na esqueda*/
}

.compre-ja .btn-plataforma .plataformas{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .3s ease-in;
    display: none;      /* isso faz o menu de selecionar plataforma esconder que vai aparecer com javascript */
    opacity: 0;
}

.compre-ja .btn-plataforma .plataformas.ativo{   /* isso é para o javascript */
    display: flex;
    opacity: 1;
}

.compre-ja .btn-plataforma .plataformas li{
    padding: 20px;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(1){  /* isso significa que vai estilizar apanas a primeira li*/
    border: 1px solid #00439c;
}

.compre-ja  .btn-plataforma .plataformas li:nth-child(1):hover{
    background-color: #00439c;
}
.compre-ja  .btn-plataforma .plataformas li:nth-child(2){
    border: 1px solid #387a26;
}

.compre-ja  .btn-plataforma .plataformas li:nth-child(2):hover{
    background-color: #387a26;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(3) {
    border: 1px solid #00439c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(3):hover {
    background-color: #00439c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(4) {
    border: 1px solid #387a26; 
}

.compre-ja .btn-plataforma .plataformas li:nth-child(4):hover {
    background-color: #387a26;
}
.compre-ja .btn-plataforma .plataformas li:nth-child(5) {
    border: 1px solid #fcaf17; 
}

.compre-ja .btn-plataforma .plataformas li:nth-child(5):hover {
    background-color: #fcaf17;
}

